{% extends '_layouts/base.html' %}

{% block headline %}
<div class="container">
	<div class="row">
    	<div class="col-md-2"><img src="{{ object.img }}" class="img-responsive img-thumbnail" alt="Product image"/> </div>
    	<div class="col-md-1"></div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-8"><h3 id='headline'>{{ object.headline }}</h3></div>
			</div>
			<div class="row">
				<div class="col-md-2"><p>${{ view.formatted_object_price }}</p></div>
				<div class="col-md-4"><a href="{{ object.url }}"><p>{% if object.oos %}OOS @{% else %}Buy from {% endif %}{{ object.vendor }}</p></a></div>
			</div>
		</div>
	</div>
</div>
{% endblock headline %}

{% block content %}
<div class="container">
	<div class="row">
		<img src="{% url 'gunmel:history-chart' pk=object.pk %}"/>
	</div>
</div>	
{% endblock content %}